In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats

In [2]:
data = pd.read_csv('data.csv')

In [3]:
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [4]:
ontario = pd.read_csv('properties.csv')

In [5]:
ontario.head(30)

,Unnamed: 0,Address,AreaName,Price ($),lat,lng
0,0,"86 Waterford Dr Toronto, ON",Richview,999888,43.679882,-79.544266
1,1,"#80 - 100 BEDDOE DR Hamilton, ON",Chedoke Park B,399900,43.250000,-79.904396
2,2,"213 Bowman Street Hamilton, ON",Ainslie Wood East,479000,43.251690,-79.919357
3,3,"102 NEIL Avenue Hamilton, ON",Greenford,285900,43.227161,-79.767403
4,6,"#1409 - 230 King St Toronto, ON",Downtown,362000,43.651478,-79.368118
5,7,"254A Monarch Park Ave Toronto, ON",Old East York,1488000,43.686375,-79.328918
6,8,"532 Caledonia Rd Toronto, ON",Fairbank,25,43.691193,-79.461662
7,9,"11 REBECCA Street Hamilton, ON",Central Hamilton,254900,43.258541,-79.867615
8,10,"617 BRIGADOON Drive Hamilton, ON",Gourley,364900,43.216557,-79.904991
9,12,"51 - 255 MOUNT ALBION Road Hamilton, ON",Red Hill,304900,43.215706,-79.794189
10,13,"1170 LAMBTON Drive Oakville, ON",Clearview,1289000,43.495579,-79.658272
11,19,"47 Armstrong Ave Toronto, ON",Wallace Emerson,113,43.664101,-79.439751
12,20,"3 Bracebridge Ave Toronto, ON",Old East York,599900,43.697842,-79.317368
13,21,"#808 - 2167 Lake Shore Blvd Toronto, ON",Parkdale,97,43.635578,-79.441345
14,22,"#2706 - 2167 Lake Shore Blvd Toronto, ON",Parkdale,49,43.635578,-79.441345
15,23,"#710 - 1080 Bay St Toronto, ON",Downtown,805900,43.666794,-79.388756
16,24,"#A - 753 Shaw St Toronto, ON",Midtown Toronto,97,43.662872,-79.423233
17,25,"160 Jenkinson Way Toronto, ON",Dorset Park,549900,43.749599,-79.270844
18,26,"40 Hawthorne Rd Toronto, ON",Richview,850000,43.692314,-79.552635
19,27,"#4905 - 16 Harbour St Toronto, ON",Downtown,1348000,43.642578,-79.376900
20,28,"166 Mcnicoll Ave Toronto, ON",Hillcrest Village,129,43.799480,-79.357445
21,29,"430 Military Tr Toronto, ON",Morningside,675000,43.788639,-79.207932
22,30,"67 Montressor Dr Toronto, ON",St. Andrew - Windfields,113,43.759003,-79.392075
23,31,"46 Bruce Farm Dr Toronto, ON",Bayview Woods - Steeles,49,43.799358,-79.377914
24,32,"#1215 - 2627 Mccowan Rd Toronto, ON",Agincourt,49,43.807091,-79.265533
25,33,"247 Westmount Ave Toronto, ON",St. Clair West Village,25,43.682270,-79.443390
26,34,"31 Yorkshire Rd Toronto, ON",Ionview,499900,43.740097,-79.273987
27,35,"34 Ordway Rd Toronto, ON",Kennedy Park,599000,43.733814,-79.250000
28,36,"47 Waterbeach Cres Toronto, ON",Rexdale,549900,43.726189,-79.582047
29,37,"2 Moraine Hill Dr Toronto, ON",Tam O'Shanter,698000,43.774624,-79.298141

In [6]:
# Note that some values such as 113 and 49 are not whole values they need to be turned into whole values

In [7]:
ontario.dtypes

Unnamed: 0      int64
Address        object
AreaName       object
Price ($)       int64
lat           float64
lng           float64
dtype: object

In [8]:
Price = ontario['Price ($)']
Price.head()

0    999888
1    399900
2    479000
3    285900
4    362000
Name: Price ($), dtype: int64

In [9]:
ontario_refined = ontario.sort_values(by = 'Price ($)' , ascending = False)

In [10]:
ontario_refined.head(30)

,Unnamed: 0,Address,AreaName,Price ($),lat,lng
14741,36924,"4740 HIGH RD Ottawa, ON",Greenbelt,32500000,45.295937,-75.613808
1889,5798,"10 HIGH POINT RD Toronto, ON",Bridle Path,26800000,43.735306,-79.372612
9044,28796,"51 -75 BRADFORD ST Barrie, ON",Barrie,23200000,44.383312,-79.693642
21597,79960,"16 High Point Rd Toronto, ON",Bridle Path,18800000,43.734344,-79.371315
23364,98496,"12441 MISSISSAUGA RD Caledon, ON",Caledon,16000000,43.703365,-79.878990
20994,77248,"14 The Bridle Path Toronto, ON",Bridle Path,15300000,43.739182,-79.379913
23007,97429,"4411 Escarpment Sideroad Sdrd Caledon, ON",Caledon,15000000,43.836338,-79.874481
24188,110612,"88 Rocmary Pl Vaughan, ON",Woodbridge,14888000,43.869839,-79.564552
21720,82766,"120 INGLEWOOD DR Toronto, ON",Midtown Toronto,14880000,43.688107,-79.385658
20759,76782,"31 Knightswood Rd Toronto, ON",York Mills,14800000,43.739323,-79.391823
20548,74429,"531 PARLIAMENT ST Toronto, ON",Downtown,14500000,43.665607,-79.368355
11572,32934,"PTLTS 32-36 Bell Blvd Belleville, ON",Belleville,14500000,44.188622,-77.394936
13629,35000,"35 Country Lane Toronto, ON",Bridle Path,14395000,43.741295,-79.377724
4077,14187,"75 Plant Farm Boulevard Brantford, ON",Brantford,13000000,43.156948,-80.218147
20048,73926,"#Ph 1 - 80 Yorkville Ave Toronto, ON",Midtown Toronto,12900000,43.671394,-79.391327
24016,108210,"2410 Doulton Drive Mississauga, ON",Mississauga,10995000,43.543770,-79.645172
20963,77026,"20 ELM AVE Toronto, ON",Midtown Toronto,10900000,43.675232,-79.378601
20907,76951,"20 High Point Rd Toronto, ON",Bridle Path,10800000,43.733089,-79.369225
5440,19033,"313 SPRUCE Street Waterloo, ON",Waterloo,10799000,43.478718,-80.526985
16611,39957,"25 The Bridle Path Toronto, ON",Bridle Path,10500000,43.739422,-79.377998
22564,94253,"1184 WILSON AV Toronto, ON",Downsview,10500000,43.725460,-79.487534
7235,22482,"3818 BARNSDALE ROAD Ottawa, ON",New Barrhaven,10000000,45.231400,-75.736511
7270,22517,"3818 BARNSDALE ROAD Ottawa, ON",New Barrhaven,10000000,45.231400,-75.736511
20832,76859,"584 Bloor St Toronto, ON",Midtown Toronto,9999000,43.665081,-79.412689
13679,35077,"37 MISTY CRES Toronto, ON",Windfields,9998880,43.745796,-79.377312
15041,37233,"54 ,55 TEMPO RD London, ON",Tempo,9895000,42.854099,-81.272964
11779,33141,"321 UNIVERSITY AVE Belleville, ON",Belleville,9800000,44.195221,-77.371437
21193,77447,"45 PARK LANE CIRC Toronto, ON",Bridle Path,9688000,43.729534,-79.369606
25240,124798,"4645 Palladium Way Burlington, ON",Appleby,9000000,43.411594,-79.815544
7181,22428,"56 CARRUTHERS AVENUE Ottawa, ON",Mechanicsville,9000000,45.408543,-75.730614

In [11]:
ontario_refined = ontario_refined[ontario_refined['Price ($)'] > 100000]

In [12]:
ontario_refined.tail(30)

,Unnamed: 0,Address,AreaName,Price ($),lat,lng
21274,77797,"199 4TH Street Southwest Chesley, ON",Chesley,105000,44.295105,-81.101715
8955,28652,"372 FRANCES ST Wingham, ON",Wingham,105000,43.887917,-81.306938
12378,33740,"107 - 729 DEVERON Crescent London, ON",Glen Cairn,104900,42.961250,-81.195152
6114,19715,"1085 HICKORY Windsor, ON",East Windsor,104900,42.319931,-83.000290
24613,122039,"3535 ST JOSEPH BOULEVARD UNIT#17 Orleans, ON",Orl√©ans,104900,45.488304,-75.494347
1410,5314,"305 - 739 DEVERON Crescent London, ON",Glen Cairn,104900,42.961437,-81.195259
16431,39486,"2767 LLOYD GEORGE Windsor, ON",Fontainbleu,104900,42.302895,-82.948929
10027,30652,"3693 QUEEN Windsor, ON",Sandwich,104900,42.290855,-83.078995
21211,77465,"#1104 - 3390 WESTON RD Toronto, ON",Emery,104900,43.749187,-79.542702
8093,25915,"1049 Clement Lake Road Wilberforce, ON",Wilberforce,104900,45.039112,-78.229828
18190,58759,"324 Giles Bl Windsor, ON",South Central,104900,42.304348,-83.034554
17626,45653,"1053 ELSMERE Windsor, ON",Walkerville,104900,42.312332,-83.021538
17721,46174,"1511 Hickory Windsor, ON",East Windsor,104900,42.311630,-82.995094
23025,97488,"27 CROSS Road FARADAY TOWNSHIP, ON",NaN,104900,-999.000000,-999.000000
24785,123260,"935 ALBERT Windsor, ON",East Windsor,104900,42.322121,-83.003029
15129,37321,"390 BRIDGE Windsor, ON",University,104900,42.309147,-83.059479
14430,36517,"1438 BAYSWATER Windsor, ON",Riverside,104900,42.322601,-82.928429
12103,33465,"1504 - 150 PARK West Windsor, ON",City Centre,104800,42.315948,-83.040260
6042,19643,"2144 PELISSIER|Unit 503 Windsor, ON",South Central,104000,42.295559,-83.025658
11403,32765,"422 BEDFORD STREET Cornwall, ON",Cornwall,104000,45.020245,-74.737221
11909,33271,"915 LINCOLN RD Windsor, ON",Walkerville,104000,42.317928,-83.013680
11735,33097,"1620 Drouillard Windsor, ON",East Windsor,104000,42.309658,-82.992165
12086,33448,"2346 MEIGHEN Windsor, ON",Fontainbleu,104000,42.301929,-82.982658
11661,33023,"137 George St Belleville, ON",Belleville,103900,44.162224,-77.376984
3373,11997,"24 POPLAR Road Elliot Lake, ON",Elliot Lake,103900,46.394661,-82.656410
16345,39299,"106 ADELAIDE Street South London, ON",Glen Cairn,103500,42.968800,-81.222702
25228,124786,"8235 GATESIDE PL Windsor, ON",Riverside,103000,42.326408,-82.936844
17970,51079,"29 - 35791 BAYFIELD RIVER RD Central Huron, ON",NaN,102900,43.578011,-81.670914
16643,40090,"#704 - 3390 Weston Rd Toronto, ON",Emery,102000,43.749187,-79.542702
11606,32968,"34 KAPYONG Crescent Kingston, ON",CFB Kingston,101000,44.235882,-76.458611

In [13]:
Price = ontario_refined['Price ($)']

In [14]:
Price.mean()

626221.1260089093

In [15]:
ontario_refined = ontario_refined.rename(columns={'AreaName': 'Area Name'})

In [16]:
ontario_refined.head()

,Unnamed: 0,Address,Area Name,Price ($),lat,lng
14741,36924,"4740 HIGH RD Ottawa, ON",Greenbelt,32500000,45.295937,-75.613808
1889,5798,"10 HIGH POINT RD Toronto, ON",Bridle Path,26800000,43.735306,-79.372612
9044,28796,"51 -75 BRADFORD ST Barrie, ON",Barrie,23200000,44.383312,-79.693642
21597,79960,"16 High Point Rd Toronto, ON",Bridle Path,18800000,43.734344,-79.371315
23364,98496,"12441 MISSISSAUGA RD Caledon, ON",Caledon,16000000,43.703365,-79.878990

In [17]:
ontario_refined['Price ($)'].describe()/100 # this is done to make the data visible

count       226.730000
mean       6262.211260
std        8758.481721
min        1010.000000
25%        2739.990000
50%        4075.000000
75%        6590.000000
max      325000.000000
Name: Price ($), dtype: float64

In [18]:
# Experiment: I want to create a plot that shows which locations have the highest house price and 
# which one has the lowest

In [19]:
# bin creation

In [20]:
 (226 - 26) / 10

20.0

In [21]:
# ten groups of 20 each and 1 group of 26

df['quantile_ex_1'] = pd.qcut(df['ext price'], q=4)
df['quantile_ex_2'] = pd.qcut(df['ext price'], q=10, precision=0)

df.head()

https://pbpython.com/pandas-qcut-cut.html

bin_labels_5 = ['Bronze', 'Silver', 'Gold', 'Platinum', 'Diamond']
df['quantile_ex_3'] = pd.qcut(df['ext price'],
                              q=[0, .2, .4, .6, .8, 1],
                              labels=bin_labels_5)
df.head()

In [50]:
bin_labels = [1, 2, 3, 4, 5, 6]

In [51]:
ontario_refined['Q-bins'] = pd.qcut(ontario_refined['Price ($)'], q = [0, 1/6, 1/3, .5, 2/3, 5/6, 1], precision = 0, labels = bin_labels)

In [52]:
ontario_refined.head()

,Unnamed: 0,Address,Area Name,Price ($),lat,lng,Q-bins
14741,36924,"4740 HIGH RD Ottawa, ON",Greenbelt,32500000,45.295937,-75.613808,6
1889,5798,"10 HIGH POINT RD Toronto, ON",Bridle Path,26800000,43.735306,-79.372612,6
9044,28796,"51 -75 BRADFORD ST Barrie, ON",Barrie,23200000,44.383312,-79.693642,6
21597,79960,"16 High Point Rd Toronto, ON",Bridle Path,18800000,43.734344,-79.371315,6
23364,98496,"12441 MISSISSAUGA RD Caledon, ON",Caledon,16000000,43.703365,-79.878990,6

bin_labels = ['Tier 1', 'Tier 2', 'Tier 3', 'Tier 4', 'Tier 5', 'Tier 6']

In [53]:
ontario_q = ontario_refined[['Area Name','Price ($)', 'Q-bins']]

In [54]:
ontario_q.head()

         Area Name  Price ($) Q-bins
14741    Greenbelt   32500000      6
1889   Bridle Path   26800000      6
9044        Barrie   23200000      6
21597  Bridle Path   18800000      6
23364      Caledon   16000000      6

In [55]:
ontario_q.tail()

          Area Name  Price ($) Q-bins
16345    Glen Cairn     103500      1
25228     Riverside     103000      1
17970           NaN     102900      1
16643         Emery     102000      1
11606  CFB Kingston     101000      1

In [56]:
ontario_q['Price ($)'].mean()

626221.1260089093

In [57]:
ontario_q['Price ($)'].describe()

count    2.267300e+04
mean     6.262211e+05
std      8.758482e+05
min      1.010000e+05
25%      2.739990e+05
50%      4.075000e+05
75%      6.590000e+05
max      3.250000e+07
Name: Price ($), dtype: float64

In [59]:
# Grouping

In [70]:
Tier = ontario_q.groupby('Q-bins')